%form{:action => "/create", :method => "post"}
  %input{:name => "url", :type => "text", :class => "form-control", :placeholder => "http://"}
  %input{:name => "submit", :type => "submit", :class => "btn btn-default", :value => "Short"}
