!!!
%html
  %head
    %meta{:'http-equiv' => 'Content-Type', :content => 'text/html; charset=UTF-8'}
    %link{:'href' => '/css/bootstrap/bootstrap.min.css', :rel => 'stylesheet'}

  %body
    %div.container
      %div.header
        %h3.text-muted
          URL shortener
      %div.jumbotron
        = yield
